
body {
    margin: 0 auto;
    max-width: 60em;
    font-family: "Courier", sans-serif;
    line-height: 1.5;
    padding: 6em 1em;
    color: #555;
}


h1,
h2,
strong {
    color: #ef6204;
}


h1 {
    color: #ef6204;
}


h2 {
    margin-top: 1em;
    padding-top: 1em;
}


footer {
    font-style: italic;
}


.name {
    text-decoration: underline;
}

.subject {
    text-decoration: underline;
}


#footer_preguntas {
    color: orangered;
}


#footer_página:hover {
    color: orangered;
}


a {
    color: #ef6204;
}


*  { 
    color: rgb(65, 39, 3);
}


